.crt-screen::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 255, 0, 0.06) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
    animation: scanline 8s linear infinite;
}

@keyframes scanline {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100%;
    }
}

.animate-blink {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.glitch {
    position: relative;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 2px 0 #ff0000;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: glitch-1 2s infinite linear alternate-reverse;
}

@keyframes glitch-1 {
    0% {
        clip: rect(42px, 9999px, 44px, 0)
    }

    100% {
        clip: rect(12px, 9999px, 98px, 0)
    }
}